@import "../../../scss/_variables.scss";

.flash {

  top:1rem;
  right: 1rem;
  position: fixed;
  padding: 0.5rem;

  border: 1px solid red;
  border-radius: 5px;



  &__item {
    color: red;
  }
}