@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');
@import 'toggle-button';

$main-color: #0080ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.cities {
  width: 22rem;
}

.weather {
  width: 38rem;
}

.card {
  padding: 3px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.desktop-cities--container {
  display: none;
}

.city-list {
  display: none;
}

.mobile-city-list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 200;
  height: 100vh;
  width: 70vw;

  flex-direction: column;
  justify-content: center;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.mobile-cities {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 0.5rem;
  }
}

.city {
  padding: 1rem 0.5rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  position: relative;
  &__item {
    margin-right: 0.3rem;
  }

  &__delete {
    cursor: pointer;
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 0.3rem;
    right: 0.6rem;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    color: #595959;
    &:hover,
    &:active {
      color: black;
    }
    &:focus {
      outline: none;
    }
  }

  &--active-mobile-visible {
    font-size: 2rem;
  }


  &--active, &:hover {
    background: #f1f3f5;
  }
}

.submit-button {
  cursor: pointer;
  background: $main-color;
  border: 1px solid $main-color;
  color: white;
  padding: 0.3rem 0;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;

  &:hover, &:active {
    background: darken($main-color, 10%);
    border-color: darken($main-color, 10%);;
    //color: $main-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem lighten($main-color, 40%);
    border-color: #0080ff;
  }
}

.form-text-field {
  font-size: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #595959;
  line-height: 1.5;

  padding: 0.3rem 0.5rem;
  border-radius: .25rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem lighten($main-color, 40%);
    border-color: #0080ff;
  }
}

.add-city-form {
  padding: 0 0.3rem;
  margin: 0.5rem 0;
  &__item {
    margin: 0.4rem 0;
  }

  &__error-box {
    list-style: none;
    font-size: 0.85rem;
    font-style: italic;
  }

  @media (min-width: 40rem) {
    padding: 0;
  }
}


@media (min-width: 40rem) {
  .mobile-cities__container {
    display: none;
  }

  .desktop-cities__container {
    display: block;
  }

  .city-list {
    display: block;
  }

  .container {
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
  }
}
